@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:burlywood">Welcome</h1>
    <p>Learn about: <a href="https://www.supervasco.com" target="_blank">building Web apps with ASP.NET Core. Click here!</a>.</p>
</div>

<style>
    body
    {
        background-color:black;        
    }
</style>

<style>
    p{color:white;}
    a{color:orange;}
</style>
